<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Success</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
</head>
<body>
    <h1>Register Success</h1>
    <div class="details">
        <p>Your Details</p>
        <p>Name:  {{name}}</p>
        <p>Email:  {{email}}</p>
        <p>Password: {{pas}}</p>

    </div>
</body>
</html>